<!-- navigation -->
<nav class='navbar navbar-expand navbar-light bg-light'>
  <ul class='nav nav-pills'>
    <li>
      <a class='nav-link'
         routerLinkActive='active'
         [routerLink]="['/welcome']">
        Home
      </a>
    </li>
    <li>
      <a class='nav-link'
         routerLinkActive='active'
         [routerLink]="['/products']">
        Product List
      </a>
    </li>
  </ul>
</nav>

<!-- router outlet -->
<div class='container'>
  <router-outlet></router-outlet>
</div>
